In [1]:
import pandas as pd
import numpy as np

In [10]:
fpath ="C:/Users/qjc/Documents/WeChat Files/wxid_1795xchr20ad21/FileStorage/File/2023-08/Data/PVT_816.csv"

In [11]:
#使用pandas read_csv读取数据
df = pd.read_csv(fpath)

In [12]:
df.head()

,center,ID,Gender,Age,WBC,HB,PLT,PT,PTA,INR,...,TBIL,ALB,Scr,cps,PVD,SVD,PV,ST,Spleen,PVT
0,0,1,1,35,3.80,119.0,26.0,16.7,59.0,1.48,...,14.0,31.0,62.0,8,14.0,13.0,12.6,67.0,61,1
1,0,2,1,48,6.22,127.0,127.0,11.0,110.0,0.95,...,10.7,24.0,170.0,8,13.0,9.0,10.0,40.0,0,0
2,0,3,2,51,6.17,142.0,116.0,11.7,99.0,1.01,...,24.9,34.0,65.0,6,13.0,9.0,12.3,45.0,15,0
3,0,4,1,63,5.02,154.0,109.0,10.6,117.0,0.92,...,18.6,36.0,63.0,6,12.0,9.0,11.5,34.0,0,0
4,0,5,1,56,3.16,118.0,30.0,17.5,53.0,1.50,...,209.9,27.0,25.0,11,13.0,8.0,10.3,47.0,31,0

In [19]:
#提取特征值
df_x = df.drop(columns = ['center', 'PVT'])
df_x

,ID,Gender,Age,WBC,HB,PLT,PT,PTA,INR,APTT,FIB,TBIL,ALB,Scr,cps,PVD,SVD,PV,ST,Spleen
0,1,1,35,3.80,119.0,26.0,16.70,59.00,1.48,37.60,2.53,14.0,31.0,62.0,8,14.0,13.0,12.6,67.0,61
1,2,1,48,6.22,127.0,127.0,11.00,110.00,0.95,39.10,3.42,10.7,24.0,170.0,8,13.0,9.0,10.0,40.0,0
2,3,2,51,6.17,142.0,116.0,11.70,99.00,1.01,41.20,2.02,24.9,34.0,65.0,6,13.0,9.0,12.3,45.0,15
3,4,1,63,5.02,154.0,109.0,10.60,117.00,0.92,40.60,2.14,18.6,36.0,63.0,6,12.0,9.0,11.5,34.0,0
4,5,1,56,3.16,118.0,30.0,17.50,53.00,1.50,57.60,0.95,209.9,27.0,25.0,11,13.0,8.0,10.3,47.0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,986,2,45,4.66,115.0,60.0,15.10,59.00,1.40,35.80,1.83,55.9,31.6,69.5,11,14.0,11.0,20.8,66.0,0
812,987,1,35,7.69,102.0,133.0,13.60,72.00,1.23,36.10,2.26,34.2,36.8,70.0,6,17.0,8.0,26.3,58.0,38
813,989,1,40,2.72,162.0,69.0,13.48,80.59,1.12,32.52,3.04,18.4,35.1,71.4,7,15.0,10.0,27.4,64.0,20
814,990,2,47,2.83,102.0,73.0,18.10,70.51,1.21,36.87,2.35,18.7,42.3,88.9,9,19.0,11.0,14.9,51.0,40
815,993,1,56,7.75,96.0,96.0,13.70,54.00,1.49,36.70,1.00,30.6,35.2,58.0,6,11.0,8.0,14.9,50.0,36

In [20]:
#提取PVT
df_y=df['PVT']
df_y

0      1
1      0
2      0
3      0
4      0
      ..
811    1
812    1
813    1
814    1
815    1
Name: PVT, Length: 816, dtype: int64

In [21]:
#将X，Y值转为numpy形式
nmp_x = df_x.values
nmp_y = df_y.values